html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button,
.input {
  font-size: 2rem;
  margin: 1rem;
}

.button {
  font-family: "Courier New", Courier, monospace;
}
